* {
  font-family: 'PT Mono', monospace;
}
.views-login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-container {
  height: 100vh;
  background-image: url('../../public/computer_frustration.jpg');
  background-size: 1500px 1000px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  font-size: 8em;
  font-family: 'PT Mono', monospace;
  text-shadow: 6px 7px 17px #161616;
}
.sub-heading {
  font-size: 2em;
}
.content-divider {
  align-self: center;
  background-color: #f0f0f0;
  width: 70%;
  margin: 3em 0;
}
.login-content-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
.login-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
